version: "3.8"

services:
  elasticsearch:
    container_name: es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.0
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - es-net
    ports:
      - 9200:9200
  
  kibana:
    container_name: kb-container
    image: docker.elastic.co/kibana/kibana:7.11.0
    environment:
      - ELASTICSEARCH_HOSTS=http://es-container:9200
    networks:
      - es-net
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.2.2
    user: root
    container_name: filebeat
    configs:
      - source: fb_config
        target: /usr/share/filebeat/filebeat.yml
    depends_on:
      - elasticsearch
      - kibana
    volumes:
      - ./filebeat/data:/usr/share/filebeat/data
      - /var/log/audit/:/var/log/audit/:ro
    environment:
      - ELASTICSEARCH_HOSTS=http://es-container:9200
      - KIBANA_HOST=https://kb-container:5601
    # disable strict permission checks
    networks:
      - es-net
    command: ["--strict.perms=false"]
    deploy:
      mode: global

configs:
  fb_config:
    file: $PWD/filebeat.yml

networks:
  es-net:
    driver: bridge